body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Arial', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 2rem;
}

h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 2rem;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;

  transition: all .1s ease-in;
}

nav a:hover {
  font-weight: bold;
}

main {
	margin: 2rem;
}

article {
	border: 1rem solid #ccc;
	padding: 1rem;
	margin-bottom: 2rem;
}

article header {
	border-bottom: 1rem solid #ccc;
	margin-bottom: 1rem;
}

article h2 {
	margin: 0;
}

article p.date {
	font-style: italic;
	color: #999;
}

article footer {
	border-top: 1px solid #ccc;
	margin-top: 1rem;
}

article p.author {
	font-style: italic;
	color: #999;
}

footer {
	background-color: #f2f2f2;
	padding: 2rem;
	text-align: center;
}

footer p {
	margin: 0;
}