<nav class="navbar d-flex justify-content-between text-white bg-semibold-blue">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo.png" style="width: 150px;">
  </a>

  <div>
    <ul class="d-flex text-uppercase fw-bold mt-3">
      <li class="px-4"><a href="">Início</a></li>
      <li class="px-4"><a href="">Brasil</a></li>
      <li class="px-4"><a href="">Internacional</a></li>
      <li class="px-4 btn-login text-pink"><a href="login/">Entrar</a></li>

    </ul>
  </div>
</nav>
