<section class="register-form d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form class="form bg-white radius" [formGroup]="formGroup">
    <h4 class="title mb-4 text-center">Cadastro de usuário</h4>

    <div class="text-left">
      <div class="input row">
        <div class="col-sm-12">
          <label class="form-label">
            Nome completo
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <div class="input row mt-3">
        <div class="col-sm-12">
          <label class="form-label">
            Email
            <span class="text-danger">*</span>
          </label>
          <input type="email" class="form-control"  placeholder="exemplo@gmail.com" formControlName="email">
        </div>
      </div>

      <div class="input row mt-3">
        <div class="col-sm-8">
          <label class="form-label">
            Senha
            <span class="text-danger">*</span>
          </label>
          <input type="password" class="form-control" formControlName="password">
        </div>
      </div>
    </div>

    <button class="btn-save mt-4 register-btn" (click)="onSubmit()">Cadastrar</button>
  </form>
</section>
