
<section class="w-70 mt-4 mb-4">
  <div class="d-flex justify-content-center">
    <div class="flex-column w-50">
      <h1 class="title">MET Gala 2023: Saiba o horário, como assistir e programação</h1>
      <p class="text-pink">Escrito por: Giuliana</p>
      <img src="../../../assets/news3.jpg" class="mb-4" style="max-width: 100%;">
      <p>Sed ut perspiciatis unde omnis iste natus error
        sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
        dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
        exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
        consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
    </div>
  </div>
</section>

<div class="comments d-flex justify-content-center">
  <div class="flex-column w-50">
    <h3 class="title">Comentários</h3>
    <div class="comment d-flex mt-4 mb-4">
      <img src="../../../assets/news3.jpg" style="width: 10%;" class="rounded-circle">
      <div class="mx-4">
        <h5 class="text-pink">Matheus Levi</h5>
        <p>Eu amei, que post perfeito!!</p>
      </div>
    </div>

    <div class="comment d-flex mt-4 mb-4">
      <img src="../../../assets/news3.jpg" style="width: 10%;" class="rounded-circle">
      <div class="mx-4">
        <h5 class="text-pink">Matheus Levi</h5>
        <p>Comentando novamente pq tá perfeito <3</p>
      </div>
    </div>
  </div>
</div>
