<section class="important-news px-4 mt-4">
  <div class="d-flex justify-content-end mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square text-pink" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
    <a href="news/create" class="text-pink">Criar notícia</a>
  </div>

  <div class="row">
    <div class="col-lg-8" style="max-height: 27em;">
      <a href="news/id">
      <div class="card text-white">
        <img class="card-img" src="../../../assets/news1.jpg"
        alt="Card image" style="height: 27em;">
        <div class="card-img-overlay d-flex align-items-end">
          <h3 class="card-title">Foguete da Space X explode no lançamento</h3>
        </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-6 col-lg-12 " style="max-height: 13em;">
          <a href="news/id">
            <div class="card text-white">
              <img class="card-img" src="../../../assets/news2.png" alt="Card image" style="height: 13em;">
              <div class="card-img-overlay d-flex align-items-end">
                <h3 class="card-title">Protestos no chile</h3>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 col-lg-12 mt-3"  style="max-height: 13em;">
          <a href="news/id">
            <div class="card text-white">
              <img class="card-img" src="../../../assets/news3.jpg" alt="Card image" style="height: 13em;">
              <div class="card-img-overlay d-flex align-items-end">
                <h3 class="card-title">MET Gala: Como assistir</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="title d-flex justify-content-center mt-4 mb-4">Nossas últimas notícias</h2>

<div class="news d-flex justify-content-center mb-3 mt-4 ">
  <div class="card mx-3" style="width: 18rem;">
    <img src="../../../assets/news3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn text-pink">Go somewhere</a>
    </div>
  </div>

  <div class="card mx-3" style="width: 18rem;">
    <img src="../../../assets/news4.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn text-pink">Go somewhere</a>
    </div>
  </div>

  <div class="card mx-3" style="width: 18rem;">
    <img src="../../../assets/news1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn text-pink">Go somewhere</a>
    </div>
  </div>

  <div class="card mx-3" style="width: 18rem;">
    <img src="../../../assets/news4.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn text-pink">Go somewhere</a>
    </div>
  </div>
</div>
