.important-news {
  padding: 2em 4em 2em 4em;
  margin: 0 2em 0 2em;
}

.important-news svg {
  margin-top: 3px;
  margin-right: 8px;
}

.important-news .card-title {
  font-weight: 700;
}

.card-img-overlay {
  background: #10005b73;
}

.card-img-overlay:hover {
  background: #10005bb0;
}

