<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form class="features-form bg-white radius">
    <h4 class="title mb-4">Selecione as features que você deseja</h4>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" controlName="comentario">
      <label class="form-check-label text-semibold-blue" for="flexCheckDefault">
        Comentários
      </label>

      <div class="form-check mt-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Somente membros
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          Todos podem comentar
        </label>
      </div>

    </div>

    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label text-semibold-blue" for="flexCheckDefault">
        Busca
      </label>

      <div class="form-check mt-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Por texto
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Por filtro
        </label>
      </div>
    </div>

    <button class="btn-save py-2 mt-4">Salvar e continuar</button>
  </form>
</section>
